/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file.

******************************************************************/
@font-face {
  font-family: "Munika-Bold";
  src: url("../../fonts/Munika-Bold.woff2") format("woff2"), url("../../fonts/Munika-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Munika-Semibold";
  src: url("../../fonts/Munika-Semibold.woff2") format("woff2"), url("../../fonts/Munika-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Munika-Medium";
  src: url("../../fonts/Munika-Medium.woff2") format("woff2"), url("../../fonts/Munika-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Munika-Regular";
  src: url("../../fonts/Munika-Regular.woff2") format("woff2"), url("../../fonts/Munika-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KindSans-Heavy";
  src: url("../../fonts/KindSans-Heavy.woff2") format("woff2"), url("../../fonts/KindSans-Heavy.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "KindSans-Black";
  src: url("../../fonts/KindSans-Black.woff2") format("woff2"), url("../../fonts/KindSans-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "KindSans-Bold";
  src: url("../../fonts/KindSans-Bold.woff2") format("woff2"), url("../../fonts/KindSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "KindSans-Semibold";
  src: url("../../fonts/KindSans-Semibold.woff2") format("woff2"), url("../../fonts/KindSans-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "KindSans-Medium";
  src: url("../../fonts/KindSans-Medium.woff2") format("woff2"), url("../../fonts/KindSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KindSans-Regular";
  src: url("../../fonts/KindSans-Regular.woff2") format("woff2"), url("../../fonts/KindSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Unicons";
  src: url(../../fonts/unicons/Unicons.woff2) format("woff2"), url(../../fonts/unicons/Unicons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Custom";
  src: url(../../fonts/custom/Custom.woff2) format("woff2"), url(../../fonts/custom/Custom.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.button {
  text-decoration: none;
}

header .menu li a {
  color: white;
}

.dropdown .is-dropdown-submenu a {
  line-height: 1.5;
  font-weight: normal;
  font-family: "Munika-Medium", Munika, Arial, sans-serif;
  color: #02066F;
}
.dropdown .is-dropdown-submenu a:hover {
  background: #8F96B3;
  color: white;
}

.dropdown .is-dropdown-submenu li:first-child a {
  border-top: none;
}
.dropdown .is-dropdown-submenu li a {
  border-top: 1px solid #f3f3f9;
}

.dropdown .submenu li.active a {
  color: #02066F;
}
.dropdown .submenu li.active a:hover {
  color: white;
}

.dropdown .submenu {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
